<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>Hola, soy Jaime Valverde</h1>
		<p>Bienvenido a mi blog</p>
		<p>Este es un ejemplo de blog hecho con ruby on rails</p>
		<p>Si quieres seguirme mientras aprendo más Ruby on Rails puedes seguirme en  <a href="http://twitter.com/jaivalvaz">@Jaivalvaz</a> </p>
	</div>
</div>